@font-face {
  font-family: boohong;
  src: url(/fonts/Boohong.otf), url(/fonts/Boohong.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: boohong, sans-serif;
  color: #4e4e4edd;
}
body {
  background: rgb(167, 167, 167);
  background: radial-gradient(
    circle,
    rgba(167, 167, 167, 1) 0%,
    rgba(0, 0, 0, 1) 87%
  );
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
  border-bottom: 1px solid #4e4e4edd;
  position: sticky;
  top: 0;
  background: white;
}
[id]::before {
  content: "";
  display: block;
  height: 10rem;
  margin-top: -10rem;
  visibility: hidden;
}
.titreHeader h2 {
  border-bottom: 1px solid #4e4e4edd;
  border-top: 1px solid #4e4e4edd;
  white-space: nowrap;
  font-size: 3rem;
}
.titreHeader a:hover {
  color: darkgrey;
}
.titreHeader a:active {
  color: rgba(128, 151, 183, 0.774);
}
.navHeader {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 20%;
}
.navHeader ul {
  display: flex;
  flex-direction: row-reverse;
}

.navHeader li {
  white-space: nowrap;
  margin-left: 50%;
}
.navHeader a {
  font-weight: 700;
}
.navHeader a:hover {
  color: darkgrey;
  border-bottom: 1px solid #4e4e4edd;
}
.navHeader a:active {
  color: rgba(128, 151, 183, 0.774);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(150, 150, 150);
  background: linear-gradient(
    90deg,
    rgba(150, 150, 150, 1) 0%,
    rgba(245, 245, 245, 1) 50%,
    rgba(150, 150, 150, 1) 100%
  );
  color: #4e4e4edd;

  bottom: 0;
}

/* page d'accueil */

.mainAccueil {
  display: flex;
  flex-direction: column;
  margin: 5%;
  border-style: groove;
  padding: 10%;
}
.accueilTitre {
  border-bottom: 1px solid rgba(244, 244, 244, 0.9);
  margin-bottom: 10%;
  padding-bottom: 10%;
}
.accueilTitre h1 {
  font-size: 10rem;
  color: rgba(244, 244, 244, 0.9);
}
.accueilSoustitre {
  display: flex;
  justify-content: flex-end;
}
.accueilSoustitre p {
  color: rgba(244, 244, 244, 0.9);
  font-size: 2.5rem;
  justify-content: flex-end;
}

/* Page mes projets */

.projectMain {
}
.projectTitle {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  font-size: 1.5rem;
}
.projectTitle h1 {
  color: rgba(244, 244, 244, 0.926);
}
.projectcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.project1container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  background-color: rgba(244, 244, 244, 0.823);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
  margin: 0 5%;
}
.project2container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  background-color: rgba(244, 244, 244, 0.823);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
}
.project3container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  background-color: rgba(244, 244, 244, 0.823);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
  margin: 0 5%;
}
.projectMain img {
  width: 100%;
  object-fit: contain;
  object-position: center;
  margin-bottom: 5%;
  border-radius: 20px;
}
.projectMain h4 {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #4e4e4edd;
}
.projectMain p {
  text-align: justify;
  margin-bottom: 10%;
  color: #4e4e4edd;
}
.linkcontainer {
  display: flex;
  justify-content: center;
}
.projectMain a {
  background-color: rgba(244, 244, 244, 0.926);
  padding: 4%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  white-space: nowrap;
}
.projectMain a:hover {
  background-color: rgb(189, 189, 189);
  transform: scale(1.1);
}
.projectMain a:active {
  color: rgba(255, 0, 0, 0.471);
  background-color: rgb(189, 189, 189);
  transform: scale(1.1);
}

/* page mes études */

.etudeMain {
}
.etudeTitle {
  display: flex;
  justify-content: center;
  padding: 5% 0;
  font-size: 1.5rem;
}
.etudecontainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.etudeTitle h1 {
  color: rgba(244, 244, 244, 0.926);
}
.etudeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.823);
  width: 30%;
  padding: 1%;
  margin-right: 10%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
  font-size: 110%;
}
.etudeCard h3 {
  margin-bottom: 5%;
}
.etudeCard p {
  margin-bottom: 5%;
}
.etudeCard img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.etudeList {
  display: flex;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.823);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
  padding: 2%;
  width: 50%;
  height: 100%;
  font-size: 1.3rem;
}
.etudeList li {
  margin-bottom: 6%;
  display: flex;
}
.etudeList li:last-child {
  margin-bottom: 0;
}
.etudedate {
  display: flex;
  align-items: center;
  border: 1px solid #4e4e4edd;
  border-radius: 10px;
  padding: 1%;
  margin-right: 3%;
  white-space: nowrap;
  color: rgba(244, 244, 244, 0.926);
  background: hsla(0, 0%, 18%, 1);
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 18%, 1) 0%,
    hsla(0, 0%, 50%, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    hsla(0, 0%, 18%, 1) 0%,
    hsla(0, 0%, 50%, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    hsla(0, 0%, 18%, 1) 0%,
    hsla(0, 0%, 50%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2f2f2f", endColorstr="#808080", GradientType=1 );
}
.etudeList p {
  font-size: 120%;
}

/* page contact */

.maincontact {
}
.contactTitle {
  display: flex;
  justify-content: center;
  padding: 5% 0;
  font-size: 1.5rem;
}
.contactTitle h1 {
  color: rgba(244, 244, 244, 0.926);
}
.contactcontainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
}
.formcontainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgba(244, 244, 244, 0.823);
  width: 65%;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
}
.formcontainer form {
  width: 100%;
}
.formcontainer li {
  margin-bottom: 5%;
}
.forminput {
  width: 30%;
  height: 40px;
  font-size: 110%;
  border-radius: 10px;
}
.formtextarea {
  width: 90%;
  height: 150px;
  font-size: 110%;
  border-radius: 10px;
}
.buttonform {
  width: 30%;
  height: 40px;
  font-size: 110%;
  color: rgba(244, 244, 244, 0.926);
  border-radius: 10px;
  border-color: white;
  background-color: #4e4e4edd;
}
.buttonform:hover {
  filter: invert(1);
}
.buttonform:active {
  transform: scale(1.1);
}
.contactlist {
  width: 30%;
}
.contactlist ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.contactlist li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.8);
  font-size: 1.3rem;
  padding: 10%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.9);
}
.contactlist li:last-child {
  justify-content: space-evenly;
}
.email {
  white-space: nowrap;
}
.logo {
  font-size: 2rem;
}
.contactlist a:hover {
  filter: invert(50%);
  transform: scale(1.1);
}
