* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4e4e4edd;
}
body {
  height: 100%;
  min-height: 100%;
}
header {
  display: flex;
  flex-direction: row;
  padding: 3%;
  border-bottom: 1px solid #4e4e4edd;
  position: sticky;
  top: 0;
  background-color: rgba(244, 244, 244);
}
.titreHeader h2 {
  border-bottom: 1px solid #4e4e4edd;
  border-top: 1px solid #4e4e4edd;
  white-space: nowrap;
  font-size: 200%;
}
.titreHeader a:hover {
  color: darkgrey; /* font-size hover, A voir avec Cedric */
}
.titreHeader a:active {
  color: rgba(128, 151, 183, 0.774);
}
.navHeader {
  display: flex;
  align-items: center;
  font-size: 130%;
  margin-left: 22%; /* responsive nav, Avoir avec Cedric */
}
.navHeader ul {
  display: flex;
}

.navHeader li {
  white-space: nowrap;
  margin-left: 30%;
}
.navHeader li:not(:last-child) {
  margin-right: 0;
}

.navHeader a {
  font-weight: 700;
}
.navHeader a:hover {
  color: darkgrey;
  border-bottom: 1px solid #4e4e4edd;
}
.navHeader a:active {
  color: rgba(128, 151, 183, 0.774);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  color: aliceblue;
  height: 2rem;
  bottom: 0;
}

/* page d'accueil */

.mainAccueil {
  background-color: rgba(74, 74, 74, 0.779);
  background-image: url(/images/photoWebDev.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardAccueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 20%;
  height: 30%;
  border-radius: 10px;
  border-style: groove;
  opacity: 0.8;
}
.mainCard h1 {
  border-bottom: 1px solid #4e4e4edd;
  padding-bottom: 1rem;
}
.mainCard p {
  padding: 1rem 0;
}
.logohtml-js-css {
  width: 50%;
  margin-top: 10%;
}

/* Page mes projets */

.projectMain {
  background: hsla(0, 0%, 18%, 1);
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 18%, 1) 0%,
    hsla(0, 0%, 50%, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    hsla(0, 0%, 18%, 1) 0%,
    hsla(0, 0%, 50%, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    hsla(0, 0%, 18%, 1) 0%,
    hsla(0, 0%, 50%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2f2f2f", endColorstr="#808080", GradientType=1 );
  height: 100%;
}
.projectTitle {
  display: flex;
  justify-content: center;
  padding: 3% 0;
}
.projectTitle h1 {
  color: rgba(244, 244, 244, 0.926);
}
.projectcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5%;
}
.project1container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  background-color: rgba(244, 244, 244, 0.823);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
  height: 500px;
  margin: 0 5%;
}
.project2container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  background-color: rgba(244, 244, 244, 0.823);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
  height: 500px;
}
.project3container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  background-color: rgba(244, 244, 244, 0.823);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
  margin: 0 5%;
  height: 500px;
}
.projectMain img {
  width: 90%;
  object-fit: contain;
  object-position: center;
  margin-bottom: 5%;
  border-radius: 50%;
}
.projectMain h4 {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #4e4e4edd;
}
.projectMain p {
  text-align: justify;
  margin-bottom: 10%;
  color: #4e4e4edd;
}
.linkcontainer {
  display: flex;
  justify-content: center;
}
.projectMain a {
  background-color: rgba(244, 244, 244, 0.926);
  padding: 4%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  white-space: nowrap;
}
.projectMain a:hover {
  background-color: rgb(189, 189, 189);
  transform: scale(1.1);
}
.projectMain a:active {
  color: rgba(255, 0, 0, 0.471);
  background-color: rgb(189, 189, 189);
  transform: scale(1.1);
}

/* page mes études */

.etudeMain {
  background: hsla(0, 0%, 18%, 1);
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 18%, 1) 0%,
    hsla(0, 0%, 50%, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    hsla(0, 0%, 18%, 1) 0%,
    hsla(0, 0%, 50%, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    hsla(0, 0%, 18%, 1) 0%,
    hsla(0, 0%, 50%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2f2f2f", endColorstr="#808080", GradientType=1 );
  height: 100%;
}
.etudeTitle {
  display: flex;
  justify-content: center;
  padding: 3% 0;
}
.etudecontainer {
  display: flex;
  align-items: flex-start;
  margin: 2% 5% 5%;
  align-items: center;
}
.etudeTitle h1 {
  color: rgba(244, 244, 244, 0.926);
}
.etudeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.823);
  max-width: 30%;
  padding: 1%;
  margin-right: 10%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
  font-size: 110%;
}
.etudeCard h3 {
  margin-bottom: 10%;
}
.etudeCard ul {
  margin-bottom: 2%;
}
.etudeCard li {
  margin-bottom: 5%;
  list-style: circle;
}
.etudeCard img {
  width: 100%;
  object-fit: contain;
  border-radius: 10%;
  height: 450px;
}
.etudeList {
  background-color: rgba(244, 244, 244, 0.823);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
  padding: 2%;
  width: 70%;
}
.etudeList li {
  margin-bottom: 6%;
  display: flex;
}
.etudeList li:last-child {
  margin-bottom: 0;
}
.etudedate {
  display: flex;
  align-items: center;
  border: 1px solid #4e4e4edd;
  border-radius: 10px;
  padding: 1%;
  margin-right: 3%;
  white-space: nowrap;
  color: rgba(244, 244, 244, 0.926);
  background: hsla(0, 0%, 18%, 1);
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 18%, 1) 0%,
    hsla(0, 0%, 50%, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    hsla(0, 0%, 18%, 1) 0%,
    hsla(0, 0%, 50%, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    hsla(0, 0%, 18%, 1) 0%,
    hsla(0, 0%, 50%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2f2f2f", endColorstr="#808080", GradientType=1 );
}
.etudeList p {
  font-size: 120%;
}
