@font-face {
  font-family: boohong;
  src: url(/fonts/Boohong.otf), url(/fonts/Boohong.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: boohong, sans-serif;
  color: #4e4e4edd;
}
body {
  background: rgb(167, 167, 167);
  background: radial-gradient(
    circle,
    rgba(167, 167, 167, 1) 0%,
    rgba(0, 0, 0, 1) 87%
  );
}
[id]::before {
  content: "";
  display: block;
  height: 10rem;
  margin-top: -10rem;
  visibility: hidden;
}
#work,
#about,
#contact {
  scroll-margin-top: 100px;
}
header {
  padding: 3%;
  position: sticky;
  top: 0;
  background: white;
  z-index: 20;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  font-size: calc(0.7rem + 1vw);
}
nav h2 {
  border-bottom: 1px solid #4e4e4edd;
  border-top: 1px solid #4e4e4edd;
  font-size: calc(1.5rem + 2vw);
  margin-right: 20%;
  white-space: nowrap;
}
#icons {
  cursor: pointer;
  display: none;
}
nav a:hover {
  color: darkgrey;
  border-bottom: 1px solid #4e4e4edd;
}
nav a:active {
  color: rgba(128, 151, 183, 0.774);
}
main {
  margin: 0 5%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(150, 150, 150);
  background: linear-gradient(
    90deg,
    rgba(150, 150, 150, 1) 0%,
    rgba(245, 245, 245, 1) 50%,
    rgba(150, 150, 150, 1) 100%
  );
  color: #4e4e4edd;
  bottom: 0;
}

/* page d'accueil */

.accueil {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  border-style: groove;
  padding: 10%;
}
.accueilTitre {
  border-bottom: 1px solid rgba(244, 244, 244, 0.9);
  margin-bottom: 10%;
  padding-bottom: 10%;
}
.accueilTitre h1 {
  font-size: 10rem;
  color: rgba(244, 244, 244, 0.9);
}
.accueilSoustitre {
  display: flex;
  justify-content: flex-end;
}
.accueilSoustitre p {
  color: rgba(244, 244, 244, 0.9);
  font-size: 2.5rem;
  justify-content: flex-end;
  margin-bottom: 30%;
}
.accueil img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}

/* Page mes projets */

.projectTitle {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
  font-size: 1.5rem;
}
.projectTitle h1 {
  color: rgba(244, 244, 244, 0.9);
}
.projectcontainer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.projectcontainer ul li {
  width: 30rem;
}
.projectcontainer li a {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.823);
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
  margin-bottom: 5%;
}
.projectstate {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  bottom: 12%;
  -webkit-animation: bounce 0.3s ease infinite alternate;
}
@-webkit-keyframes bounce {
  0% {
    text-shadow: 0 5px 0 #ccc, 0 2px 3px rgba(0, 0, 0, 1);
  }
  100% {
    transform: translateY(-20px);
    text-shadow: 0 50px 0 #black, 0 0px 20px rgba(0, 0, 0, 0.8);
  }
}
.projectcontainer li a:hover {
  transform: scale(1.1);
  filter: invert(1);
}
.projectMain img {
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 20px;
}
.projectMain h4 {
  margin-top: 5%;
  margin-bottom: 2%;
  color: #4e4e4edd;
}

/* page about */

.etudeTitle {
  display: flex;
  justify-content: center;
  padding: 5% 0;
  font-size: 1.5rem;
}
.etudecontainer {
  display: flex;
  justify-content: space-between;
}
.etudeTitle h1 {
  color: rgba(244, 244, 244, 0.926);
}
.etudeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.823);
  width: 30%;
  padding: 1%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
}

.etudeCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.etudeList {
  display: flex;
  flex-direction: column;
  background-color: rgba(244, 244, 244, 0.823);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
  padding: 2%;
  width: 60%;
  height: 100%;
  font-size: 1.5rem;
}
.etudeList li {
  flex-direction: column;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
}
.etudeList h3 {
  margin-bottom: 5%;
}
.etudeList p {
  margin-bottom: 5%;
}
.etudeList li:last-child {
  align-items: center;
}
.etudeList a {
  border: 1px solid white;
  border-radius: 10px;
  padding: 3%;
  background-color: #4e4e4edd;
  color: rgba(244, 244, 244, 0.823);
}
.etudeList a:hover {
  transform: scale(1.1);
  filter: invert(1);
}
/* page contact */

.contactTitle {
  display: flex;
  justify-content: center;
  padding: 5% 0;
  font-size: 1.5rem;
}
.contactTitle h1 {
  color: rgba(244, 244, 244, 0.926);
}
.contactcontainer {
  display: flex;
  padding-bottom: 5%;
  justify-content: space-between;
}
.contactform {
  background-color: rgba(244, 244, 244, 0.823);
  width: 65%;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.926);
}
.contactform form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.contactform li {
  margin-bottom: 5%;
}
.forminput {
  width: 30%;
  height: 40px;
  font-size: 110%;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.formtextarea {
  width: 95%;
  height: 150px;
  font-size: 110%;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.buttonform {
  width: 30%;
  height: 40px;
  font-size: 110%;
  color: rgba(244, 244, 244, 0.926);
  border-radius: 10px;
  border-color: white;
  background-color: #4e4e4edd;
}
.buttonform:hover {
  filter: invert(1);
}
.buttonform:active {
  transform: scale(1.1);
}
.contactlist {
  width: 30%;
}
.contactlist ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.contactlist li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.8);
  font-size: 1rem;
  padding: 10%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.9);
}
.contactlist li:last-child {
  justify-content: space-evenly;
}
.email {
  white-space: nowrap;
}
.logo {
  font-size: 2rem;
}
.contactlist a:hover {
  filter: invert(50%);
  transform: scale(1.1);
}

/* media querries */

@media screen and (max-width: 1025px) {
  .accueilTitre h1 {
    font-size: 6rem;
  }
  .etudeList {
    font-size: 1rem;
  }
  .contactform {
    width: 45%;
  }
  .forminput {
    width: 60%;
    padding: 5px;
  }
  .formtextarea {
    padding: 5px;
  }
  .contactlist {
    width: 45%;
  }
}
@media screen and (max-width: 769px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  Header h2 {
    margin-bottom: 3%;
    margin-right: 0;
  }
  nav a {
    margin-left: 0;
  }
  .accueilTitre h1 {
    font-size: 3rem;
  }
  .accueilSoustitre p {
    font-size: 1.5rem;
  }
  .titreHeader h2 {
    font-size: 1.5rem;
  }
  .etudecontainer {
    flex-direction: column;
    align-items: center;
  }
  .etudeCard {
    width: 60%;
    margin-bottom: 5%;
  }
  .etudelist {
    width: 100%;
  }
  .etudeList p {
    font-size: 1rem;
  }
  .contactcontainer {
    flex-direction: column;
    align-items: center;
  }
  .contactform {
    width: 100%;
    margin-bottom: 5%;
  }
  .etudeList {
    width: 100%;
  }
  .contactlist li:nth-child(2) {
    margin: 5% 0;
  }
  .buttonform {
    width: 40%;
  }
  .contactlist {
    width: 100%;
  }
  .contactlist li {
    font-size: 1.5rem;
  }
  .logo {
    font-size: 3rem;
  }
  footer {
    font-size: 80%;
  }
  .contactlist a:hover {
    filter: none;
    transform: scale(1);
  }
  .buttonform:hover {
    filter: none;
  }
  .buttonform:active {
    transform: scale(1);
  }
  .etudeList a:hover {
    transform: scale(1);
    filter: none;
  }
  .projectcontainer li a:hover {
    transform: scale(1);
    filter: none;
  }
  nav a:hover {
    color: #4e4e4edd;
    border-bottom: none;
  }
  nav a:active {
    color: #4e4e4edd;
  }
}

@media screen and (max-width: 426px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  header {
    display: flex;
    height: 45px;
    padding: 10px;
  }
  #work,
  #about,
  #contact {
    scroll-margin-top: 65px;
  }
  Header h2 {
    margin-bottom: 0;
  }
  #icons {
    display: block;
  }
  nav ul {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    left: -100%;
    top: 65px;
    flex-direction: column;
    background: rgb(97,97,97);
    background: radial-gradient(circle, rgba(97,97,97,0.8547794117647058) 32%, rgba(59,59,59,0.8547794117647058) 70%);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.25s;
  }
  nav li a {
    color: rgba(244, 244, 244, 0.8);
    font-size: 2rem;
  }
  nav li a:hover {
    color: rgba(203, 203, 203, 0.8);
  }
  nav.active ul {
    left: 0;
  }
  .titreHeader {
    padding-bottom: 0;
  }
  .navHeader {
    flex-direction: column;
  }
  nav .navList a {
    width: 100%;
  }
  nav h2 {
    font-size: 1.2rem;
  }
  .accueil {
    height: 75vh;
    justify-content: center;
  }
  .accueil img {
    width: 100%;
  }
  .etudeCard {
    width: 100%;
  }
  .etudeList p {
    font-size: 1rem;
  }
  .contactform form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .forminput {
    width: 95%;
  }
  .contactlist li {
    font-size: 1rem;
  }
  .logo {
    font-size: 2rem;
  }
  footer {
    font-size: 60%;
  }
}

@media screen and (max-width: 321px) {
  .contactlist li:first-child {
    font-size: 0.8rem;
  }
}
